body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.container {
    padding: 32px 10%;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.header .logo {
    margin-right: auto;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero .container {
    display: flex;
}

.hero .container > div {
    flex: 1;
}

.hero .container .right {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .container {
    flex-direction: column;
}

.info-items {
    padding: 0 10%;
    display: flex;
    gap: 32px;
}

.quotes .container {
    padding: 32px 20%;
    flex-direction: column;
    gap: 0;
}

.quotes .quote-author {
    align-self: flex-end;
}

.cta .container {
    margin: 32px 10%;
    justify-content: space-between;
}